<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>O nas</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    <main>
        <h1>O nas</h1>
        <p>Witamy w Kino+. Jesteśmy nowoczesnym kinem oferującym najlepsze filmy i doskonałe wrażenia dla naszych widzów.</p>
        <p>Nasze kino jest zaopatrzone w najnowsze technologie, w tym dźwięk Dolby Atmos i obraz 4K, aby zapewnić Ci najlepsze wrażenia filmowe.</p>
    </main>
    <footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
